
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ToDo{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <style>
        body {
            background-image: url('{{ asset('img/back.jpg') }}');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
        
    </style>
</head>
{% block body %}
    <h1>ToDo</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for to_do in to_dos %}
            <tr>
                <td>{{ to_do.title }}</td>
                <td>{{ to_do.description }}</td>
                <td>{{ to_do.isDone ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_to_do_show', {'id': to_do.id}) }}">Show</a>
                    <a href="{{ path('app_to_do_edit', {'id': to_do.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_to_do_new') }}">Create new</a>
{% endblock %}
